<!DOCTYPE html>
<html lang="en">
<head>
	<title>GROLF</title>
	<meta charset="UTF=8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> 
</head>
<body>
	<div class="jumbotron">
		<h1>GROLF IS HERE</h1>
		<p>Latest events will be listed below.</p>
	</div>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
	<br>
	<a href="/admin" class="btn btn-primary">Admin Login</a>
</body>
</html>
