{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>GROLF</title>
	<meta charset="UTF=8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:creator" content="@texasbones11"/>
	<meta name="twitter:title" content="Grolf Live Leaderboard"/>
	<meta name="twitter:image" content="http://grolf.ga/static/Grolf-Leaderboard.jpg"/>
</head>
<body>
	<div class="bg">
	<div class="p jumbotron" id="first-jumbo">
		<div class="container">
		<h1>GROLF</h1>
		<p id="motto">Never apologize for making a par!</p>
		</div>
	</div>
	{% block content %}
	{% endblock %}
	<br>
	<br>
	<br>
	<a href="/admin" class="btn btn-dark btn-sm">Event Admin</a>
	<br>
	<br>
	</div>
</body>
</html>
