{% extends 'events/layout.html' %}
{% block content %}
<div class="container">
	<p class="font-weight-bold">{{event}}</p>
</div>
<div class="container-fluid">
<ul class="nav nav-tabs">
	<li class="nav-item bg-light">
		<a class="nav-link active" data-toggle="tab" href="#gross">Gross</a>
	</li>
	{% if netscoring %}
	<li class="nav-item bg-light">
		<a class="nav-link" data-toggle="tab" href="#net">Net</a>
	</li>
	{% endif %}
	{% if teamscoring %}
	<li class="nav-itemi bg-light">
                <a class="nav-link" data-toggle="tab" href="#bestball">Teams</a>
        </li>
	{% endif %}
	{% if netteamscoring %}
	<li class="nav-itemi bg-light">
                <a class="nav-link" data-toggle="tab" href="#netbestball">Net Teams</a>
        </li>
	{% endif %}
</ul>
<form method='POST'>
	{% csrf_token %}
	<div class="tab-content">
		<div class="tab-pane panel active" id="gross">
			<table class="table table-bordered table-light">
				<thead class="thead-dark">
					<tr>
						{% if not event.lock %}
						<th></th>
						{% endif %}
						<th></th>
						<th></th>
						<th>Hole</th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>4</th>
						<th>5</th>
						<th>6</th>
						<th>7</th>
						<th>8</th>
						<th>9</th>
						<th>FRONT</th>
						<th>10</th>
						<th>11</th>
						<th>12</th>
						<th>13</th>
						<th>14</th>
						<th>15</th>
						<th>16</th>
						<th>17</th>
						<th>18</th>
						<th>BACK</th>
						<th>GROSS</th>
					</tr>
				</thead>
				<tbody>
					<tr>
                                                {% if not event.lock %}
                                                <td></td>
                                                {% endif %}
						<td></td>
						<td></td>
						<td>Par</td>
						<td>{{golfcourse.hole1par}}</td>
						<td>{{golfcourse.hole2par}}</td>
						<td>{{golfcourse.hole3par}}</td>
						<td>{{golfcourse.hole4par}}</td>
						<td>{{golfcourse.hole5par}}</td>
						<td>{{golfcourse.hole6par}}</td>
						<td>{{golfcourse.hole7par}}</td>
						<td>{{golfcourse.hole8par}}</td>
						<td>{{golfcourse.hole9par}}</td>
						<td>{{front_par}}</td>
						<td>{{golfcourse.hole10par}}</td>
						<td>{{golfcourse.hole11par}}</td>
						<td>{{golfcourse.hole12par}}</td>
						<td>{{golfcourse.hole13par}}</td>
						<td>{{golfcourse.hole14par}}</td>
						<td>{{golfcourse.hole15par}}</td>
						<td>{{golfcourse.hole16par}}</td>
						<td>{{golfcourse.hole17par}}</td>
						<td>{{golfcourse.hole18par}}</td>
						<td>{{back_par}}</td>
						<td>{{total_par}}</td>
					</tr>
					<tr>
						<td>Rank</td>
                                                {% if not event.lock %}
						<td>Score</td>
                                                {% endif %}
						<td>Player</td>
						<td>Tee</td>
						<td>{{golfcourse.hole1handicap}}</td>
						<td>{{golfcourse.hole2handicap}}</td>
						<td>{{golfcourse.hole3handicap}}</td>
						<td>{{golfcourse.hole4handicap}}</td>
						<td>{{golfcourse.hole5handicap}}</td>
						<td>{{golfcourse.hole6handicap}}</td>
						<td>{{golfcourse.hole7handicap}}</td>
						<td>{{golfcourse.hole8handicap}}</td>
						<td>{{golfcourse.hole9handicap}}</td>
						<td></td>
						<td>{{golfcourse.hole10handicap}}</td>
						<td>{{golfcourse.hole11handicap}}</td>
						<td>{{golfcourse.hole12handicap}}</td>
						<td>{{golfcourse.hole13handicap}}</td>
						<td>{{golfcourse.hole14handicap}}</td>
						<td>{{golfcourse.hole15handicap}}</td>
						<td>{{golfcourse.hole16handicap}}</td>
						<td>{{golfcourse.hole17handicap}}</td>
						<td>{{golfcourse.hole18handicap}}</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						{{output_gross|safe}}
					</tr>
				</tbody>
			</table>
		</div>
		<div class="tab-pane panel" id="net">
			<table class="table table-bordered table-light">
				<thead class="thead-dark">
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th>Hole</th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>4</th>
						<th>5</th>
						<th>6</th>
						<th>7</th>
						<th>8</th>
						<th>9</th>
						<th>FRONT</th>
						<th>10</th>
						<th>11</th>
						<th>12</th>
						<th>13</th>
						<th>14</th>
						<th>15</th>
						<th>16</th>
						<th>17</th>
						<th>18</th>
						<th>BACK</th>
						<th>NET</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th>Par</th>
						<td>{{golfcourse.hole1par}}</td>
						<td>{{golfcourse.hole2par}}</td>
						<td>{{golfcourse.hole3par}}</td>
						<td>{{golfcourse.hole4par}}</td>
						<td>{{golfcourse.hole5par}}</td>
						<td>{{golfcourse.hole6par}}</td>
						<td>{{golfcourse.hole7par}}</td>
						<td>{{golfcourse.hole8par}}</td>
						<td>{{golfcourse.hole9par}}</td>
						<td>{{front_par}}</td>
						<td>{{golfcourse.hole10par}}</td>
						<td>{{golfcourse.hole11par}}</td>
						<td>{{golfcourse.hole12par}}</td>
						<td>{{golfcourse.hole13par}}</td>
						<td>{{golfcourse.hole14par}}</td>
						<td>{{golfcourse.hole15par}}</td>
						<td>{{golfcourse.hole16par}}</td>
						<td>{{golfcourse.hole17par}}</td>
						<td>{{golfcourse.hole18par}}</td>
						<td>{{back_par}}</td>
						<td>{{total_par}}</td>
					</tr>
					<tr>
						<th>Rank</th>
						<th>HCP</th>
						<th>Player</th>
						<th>Tee</th>
						<td>{{golfcourse.hole1handicap}}</td>
						<td>{{golfcourse.hole2handicap}}</td>
						<td>{{golfcourse.hole3handicap}}</td>
						<td>{{golfcourse.hole4handicap}}</td>
						<td>{{golfcourse.hole5handicap}}</td>
						<td>{{golfcourse.hole6handicap}}</td>
						<td>{{golfcourse.hole7handicap}}</td>
						<td>{{golfcourse.hole8handicap}}</td>
						<td>{{golfcourse.hole9handicap}}</td>
						<td></td>
						<td>{{golfcourse.hole10handicap}}</td>
						<td>{{golfcourse.hole11handicap}}</td>
						<td>{{golfcourse.hole12handicap}}</td>
						<td>{{golfcourse.hole13handicap}}</td>
						<td>{{golfcourse.hole14handicap}}</td>
						<td>{{golfcourse.hole15handicap}}</td>
						<td>{{golfcourse.hole16handicap}}</td>
						<td>{{golfcourse.hole17handicap}}</td>
						<td>{{golfcourse.hole18handicap}}</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						{{output_net|safe}}
					</tr>
				</tbody>
			</table>
		</div>
		<div class="tab-pane panel" id="bestball">
			<table class="table table-bordered table-light">
				<thead class="thead-dark">
					<tr>
						<th></th>
						<th>Hole</th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>4</th>
						<th>5</th>
						<th>6</th>
						<th>7</th>
						<th>8</th>
						<th>9</th>
						<th>FRONT</th>
						<th>10</th>
						<th>11</th>
						<th>12</th>
						<th>13</th>
						<th>14</th>
						<th>15</th>
						<th>16</th>
						<th>17</th>
						<th>18</th>
						<th>BACK</th>
						<th>GROSS</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th></th>
						<th>Par</th>
						<td>{{golfcourse.hole1par}}</td>
						<td>{{golfcourse.hole2par}}</td>
						<td>{{golfcourse.hole3par}}</td>
						<td>{{golfcourse.hole4par}}</td>
						<td>{{golfcourse.hole5par}}</td>
						<td>{{golfcourse.hole6par}}</td>
						<td>{{golfcourse.hole7par}}</td>
						<td>{{golfcourse.hole8par}}</td>
						<td>{{golfcourse.hole9par}}</td>
						<td>{{front_par}}</td>
						<td>{{golfcourse.hole10par}}</td>
						<td>{{golfcourse.hole11par}}</td>
						<td>{{golfcourse.hole12par}}</td>
						<td>{{golfcourse.hole13par}}</td>
						<td>{{golfcourse.hole14par}}</td>
						<td>{{golfcourse.hole15par}}</td>
						<td>{{golfcourse.hole16par}}</td>
						<td>{{golfcourse.hole17par}}</td>
						<td>{{golfcourse.hole18par}}</td>
						<td>{{back_par}}</td>
						<td>{{total_par}}</td>
					</tr>
					<tr>
						<th>Rank</th>
						<th>Team</th>
						<td>{{golfcourse.hole1handicap}}</td>
						<td>{{golfcourse.hole2handicap}}</td>
						<td>{{golfcourse.hole3handicap}}</td>
						<td>{{golfcourse.hole4handicap}}</td>
						<td>{{golfcourse.hole5handicap}}</td>
						<td>{{golfcourse.hole6handicap}}</td>
						<td>{{golfcourse.hole7handicap}}</td>
						<td>{{golfcourse.hole8handicap}}</td>
						<td>{{golfcourse.hole9handicap}}</td>
						<td></td>
						<td>{{golfcourse.hole10handicap}}</td>
						<td>{{golfcourse.hole11handicap}}</td>
						<td>{{golfcourse.hole12handicap}}</td>
						<td>{{golfcourse.hole13handicap}}</td>
						<td>{{golfcourse.hole14handicap}}</td>
						<td>{{golfcourse.hole15handicap}}</td>
						<td>{{golfcourse.hole16handicap}}</td>
						<td>{{golfcourse.hole17handicap}}</td>
						<td>{{golfcourse.hole18handicap}}</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						{{output_bestball|safe}}
					</tr>
				</tbody>
			</table>
		</div>
		<div class="tab-pane panel" id="netbestball">
			<table class="table table-bordered table-light">
				<thead class="thead-dark">
					<tr>
						<th></th>
						<th>Hole</th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>4</th>
						<th>5</th>
						<th>6</th>
						<th>7</th>
						<th>8</th>
						<th>9</th>
						<th>FRONT</th>
						<th>10</th>
						<th>11</th>
						<th>12</th>
						<th>13</th>
						<th>14</th>
						<th>15</th>
						<th>16</th>
						<th>17</th>
						<th>18</th>
						<th>BACK</th>
						<th>GROSS</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th></th>
						<th>Par</th>
						<td>{{golfcourse.hole1par}}</td>
						<td>{{golfcourse.hole2par}}</td>
						<td>{{golfcourse.hole3par}}</td>
						<td>{{golfcourse.hole4par}}</td>
						<td>{{golfcourse.hole5par}}</td>
						<td>{{golfcourse.hole6par}}</td>
						<td>{{golfcourse.hole7par}}</td>
						<td>{{golfcourse.hole8par}}</td>
						<td>{{golfcourse.hole9par}}</td>
						<td>{{front_par}}</td>
						<td>{{golfcourse.hole10par}}</td>
						<td>{{golfcourse.hole11par}}</td>
						<td>{{golfcourse.hole12par}}</td>
						<td>{{golfcourse.hole13par}}</td>
						<td>{{golfcourse.hole14par}}</td>
						<td>{{golfcourse.hole15par}}</td>
						<td>{{golfcourse.hole16par}}</td>
						<td>{{golfcourse.hole17par}}</td>
						<td>{{golfcourse.hole18par}}</td>
						<td>{{back_par}}</td>
						<td>{{total_par}}</td>
					</tr>
					<tr>
						<th>Rank</th>
						<th>Team</th>
						<td>{{golfcourse.hole1handicap}}</td>
						<td>{{golfcourse.hole2handicap}}</td>
						<td>{{golfcourse.hole3handicap}}</td>
						<td>{{golfcourse.hole4handicap}}</td>
						<td>{{golfcourse.hole5handicap}}</td>
						<td>{{golfcourse.hole6handicap}}</td>
						<td>{{golfcourse.hole7handicap}}</td>
						<td>{{golfcourse.hole8handicap}}</td>
						<td>{{golfcourse.hole9handicap}}</td>
						<td></td>
						<td>{{golfcourse.hole10handicap}}</td>
						<td>{{golfcourse.hole11handicap}}</td>
						<td>{{golfcourse.hole12handicap}}</td>
						<td>{{golfcourse.hole13handicap}}</td>
						<td>{{golfcourse.hole14handicap}}</td>
						<td>{{golfcourse.hole15handicap}}</td>
						<td>{{golfcourse.hole16handicap}}</td>
						<td>{{golfcourse.hole17handicap}}</td>
						<td>{{golfcourse.hole18handicap}}</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						{{output_netbestball|safe}}
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	{% if not event.lock %}
		<button type="submit" class="btn btn-dark btn-sm"&gt>Keep Score</button>
	{% endif %}
	<a href="/events" class="btn btn-dark btn-sm" role="button">Go Back</a>
	<a href="#" id="export" class="btn btn-dark btn-sm float-right" role='button'>Export to CSV</a>
</form>
</div>
<script type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
<script type='text/javascript'>
$(document).ready(function () {

    console.log("HELLO")
    function exportTableToCSV($table, filename) {
        var $headers = $table.find('tr:has(th)')
            ,$rows = $table.find('tr:has(td)')

            // Temporary delimiter characters unlikely to be typed by keyboard
            // This is to avoid accidentally splitting the actual contents
            ,tmpColDelim = String.fromCharCode(11) // vertical tab character
            ,tmpRowDelim = String.fromCharCode(0) // null character

            // actual delimiter characters for CSV format
            ,colDelim = '","'
            ,rowDelim = '"\r\n"';

            // Grab text from table into CSV formatted string
            var csv = '"';
            csv += formatRows($headers.map(grabRow));
            csv += rowDelim;
            csv += formatRows($rows.map(grabRow)) + '"';

            // Data URI
	    var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

        // For IE (tested 10+)
        if (window.navigator.msSaveOrOpenBlob) {
            var blob = new Blob([decodeURIComponent(encodeURI(csv))], {
                type: "text/csv;charset=utf-8;"
            });
            navigator.msSaveBlob(blob, filename);
        } else {
            $(this)
                .attr({
                    'download': filename
                    ,'href': csvData
                    //,'target' : '_blank' //if you want it to open in a new window
            });
        }

        //------------------------------------------------------------
        // Helper Functions 
        //------------------------------------------------------------
        // Format the output so it has the appropriate delimiters
        function formatRows(rows){
            return rows.get().join(tmpRowDelim)
                .split(tmpRowDelim).join(rowDelim)
                .split(tmpColDelim).join(colDelim);
        }
        // Grab and format a row from the table
        function grabRow(i,row){
             
            var $row = $(row);
            //for some reason $cols = $row.find('td') || $row.find('th') won't work...
            var $cols = $row.find('td'); 
            if(!$cols.length) $cols = $row.find('th');  

            return $cols.map(grabCol)
                        .get().join(tmpColDelim);
        }
        // Grab and format a column from the table 
        function grabCol(j,col){
            var $col = $(col),
                $text = $col.text();

            return $text.replace('"', '""'); // escape double quotes

        }
    }


    // This must be a hyperlink
    $("#export").click(function (event) {
        // var outputFile = 'export'
        var outputFile = window.prompt("What do you want to name your output file (Note: This won't have any effect on Safari)") || 'export';
        outputFile = outputFile.replace('.csv','') + '.csv'
         
        // CSV
        exportTableToCSV.apply(this, [$('#gross > table'), outputFile]);
        
        // IF CSV, don't do event.preventDefault() or return false
        // We actually need this to be a typical hyperlink
    });
});
</script>
{% endblock %}

