{% extends 'events/layout.html' %}

{% block content %}
<div>
{{event.title}}
{{event.date}}
	<table class="table table-striped">
		<thread>
			<tr>
				<th>Hole</th>
				<th>1</th>
                                <th>2</th>
                                <th>3</th>
                                <th>4</th>
                                <th>5</th>
                                <th>6</th>
                                <th>7</th>
                                <th>8</th>
				<th>9</th>
				<th>OUT</th>
                                <th>1</th>
                                <th>2</th>
                                <th>3</th>
                                <th>4</th>
                                <th>5</th>
                                <th>6</th>
                                <th>7</th>
                                <th>8</th>
                                <th>9</th>
                                <th>IN</th>
				<th>TOTAL</th>
			</tr>
		</thread>
		<tbody>
			<tr>
                                <td>Par</td>
				<td>{{golfcourse.hole1par}}</td>
				<td>{{golfcourse.hole2par}}</td>
				<td>{{golfcourse.hole3par}}</td>
				<td>{{golfcourse.hole4par}}</td>
				<td>{{golfcourse.hole5par}}</td>
				<td>{{golfcourse.hole6par}}</td>
				<td>{{golfcourse.hole7par}}</td>
				<td>{{golfcourse.hole8par}}</td>
				<td>{{golfcourse.hole9par}}</td>
				<td>{{front_par}}</td>
				<td>{{golfcourse.hole10par}}</td>
				<td>{{golfcourse.hole11par}}</td>
                                <td>{{golfcourse.hole12par}}</td>
                                <td>{{golfcourse.hole13par}}</td>
                                <td>{{golfcourse.hole14par}}</td>
                                <td>{{golfcourse.hole15par}}</td>
                                <td>{{golfcourse.hole16par}}</td>
                                <td>{{golfcourse.hole17par}}</td>
                                <td>{{golfcourse.hole18par}}</td>
				<td>{{back_par}}</td>
				<td>{{total_par}}</td>
                        </tr>
			<tr>
                                <td>Handicap</td>
				<td>{{golfcourse.hole1handicap}}</td>
				<td>{{golfcourse.hole2handicap}}</td>
				<td>{{golfcourse.hole3handicap}}</td>
				<td>{{golfcourse.hole4handicap}}</td>
				<td>{{golfcourse.hole5handicap}}</td>
				<td>{{golfcourse.hole6handicap}}</td>
				<td>{{golfcourse.hole7handicap}}</td>
				<td>{{golfcourse.hole8handicap}}</td>
				<td>{{golfcourse.hole9handicap}}</td>
                                <td></td>
				<td>{{golfcourse.hole10handicap}}</td>
				<td>{{golfcourse.hole11handicap}}</td>
                                <td>{{golfcourse.hole12handicap}}</td>
                                <td>{{golfcourse.hole13handicap}}</td>
                                <td>{{golfcourse.hole14handicap}}</td>
                                <td>{{golfcourse.hole15handicap}}</td>
                                <td>{{golfcourse.hole16handicap}}</td>
                                <td>{{golfcourse.hole17handicap}}</td>
                                <td>{{golfcourse.hole18handicap}}</td>
				<td></td>
                                <td></td>
                        </tr>
			<tr>
				{{output|safe}}
		</tr>
		</tbody>
	</table>
</div>
<a href="/events" class="btn btn-outline-dark" role="button">Go Back</a>
{% endblock %}
