{% extends 'events/layout.html' %}
{% block content %}
<form method='post' class="form-inline">
	{% csrf_token %}
	<div class="container">
	<div class="row">
	<div class="col-4 bg-light">
		Enter Password
	</div>
	<div class="col-4 bg-light">
		<label for="inputpassword" class="sr-only">Password</label>
		<input type="password" class="form-control" id="inputpassword" name="inputpassword" placeholder="Password">
	</div>
	</div>
	<div class="row">
	<div class="col-4">
	<button type="submit" name="value" value="" class="btn btn-dark"&gt>Submit</button>
	</div>
	<div class="col-4">
	<button type="submit" name="leaderboard" class="btn btn-dark"&gt>Leaderboard</button>
	</div>
	</div>
	</div>
</form>
{% endblock %}
