{% extends 'events/layout.html' %}
{% block content %}
<html lang="en">
<body>
	<form method='post'>
		<div>
		<table class="table table-striped">
		<tbody>
		<thread>
		<tr>
			<th>Name</th>
			<th>Hole 14 Score</th>
			<th></th>
		</tr>
		</thread>
		{% csrf_token %}
		{{ formset.management_form }}
		{% for form in formset %}
		<tr>
			<td>{{form.name}}</td>
			<td>{{form.hole14score}}</td>
			<td>{{form.id}}</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
		</div>
                <br></br>
		<button type="submit" name="value" value="15" class="btn btn-outline-dark"&gt>Next Hole</button>
		<button type="submit" name="value" value="13" class="btn btn-outline-dark"&gt>Previous Hole</button>
		<button type="submit" name="leaderboard" class="btn btn-outline-dark float-right"&gt>Leaderboard</button>

	</form>
</body>
</html>
{% endblock %}
