{% extends 'events/layout.html' %}
{% block content %}
	<form method='post'>
		<div>
		<table class="table bg-light">
		<tbody>
		<thread>
		<tr>
			<th>Name</th>
			<th>Hole 17 Score</th>
			<th></th>
		</tr>
		</thread>
		{% csrf_token %}
		{{ formset.management_form }}
		{% for form in formset %}
		<tr>
			<td>{{form.instance.name.name.username}}</td>
			<td>{{form.hole17score}}</td>
			<td>{{form.id}}</td>
			<td>{{form.name}}</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
		</div>
                <br></br>
		<button type="submit" name="value" value="18" class="btn btn-dark"&gt>Next Hole</button>
		<button type="submit" name="value" value="16" class="btn btn-dark"&gt>Previous Hole</button>
		<button type="submit" name="leaderboard" class="btn btn-dark float-right"&gt>Leaderboard</button>
	</form>
{% endblock %}
