{% extends 'events/layout.html' %}
{% block content %}
<html lang="en">
<body>
	<form method='post'>
		<div>
		<table class="table table-striped">
		<tbody>
		<thread>
		<tr>
			<th>Name</th>
			<th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
		</tr>
		</thread>
		{% csrf_token %}
		{{ formset.management_form }}
		{% for form in formset %}
		<tr>
			<td>{{form.name}}</td>
			<td>{{form.hole1score}}</td>
			<td>{{form.hole2score}}</td>
			<td>{{form.hole3score}}</td>
			<td>{{form.hole4score}}</td>
			<td>{{form.id}}</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
		</div>
                <br></br>
		<button type="submit" class="btn btn-outline-dark"&gt>Submit</button>
		<a href="/events/leaderboard/{{eventid}}" class="btn btn-outline-dark" role="button">Go Back</a>
	</form>
</body>
</html>
{% endblock %}
